/* timer.component.css */

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .circle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  /* Add more styles as needed */
  