<ion-app>
  
  <ion-content class="ion-padding">
    <!-- ... rest of your content ... -->

  <ion-router-outlet></ion-router-outlet>
  </ion-content>
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="timer">
        <ion-icon name="timer-outline"></ion-icon>
        Timer
      </ion-tab-button>
      <ion-tab-button tab="tasks">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        Tasks
      </ion-tab-button>
      <ion-tab-button tab="history">
        <ion-icon name="time-outline"></ion-icon>
        History
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
